<footer>
    <div class="footer-content">
        <div class="column-1">
            <div class="logo-part">
                <div class="footer-logo">
                    <img src="/assets/E-logo.png" alt="logo" width="50px" height="auto">
                    <h1>Esma Tech <span>Hub</span></h1>
                </div>
                <div class="socials">
                    <a href="https://www.facebook.com/esmatechhub" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://t.me/esmabothub" target="_blank"><i class="fab fa-telegram"></i></a>
                    <a href="https://www.youtube.com/@EsmaTechHub" target="_blank"><i class="fab fa-youtube"></i></a>
                    <a href="https://www.tiktok.com/@esmatechhub"><i class="fab fa-tiktok"></i></a>
                </div>
            </div>
        </div>
        <div class="column-2">
            <h2>Quick links</h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blogs">Blog</a></li>
                <li><a href="/tutorials">Tutorials</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>
        <div class="column-3">
            <form action="" method="POST">
                <h2>Contact Us</h2>
                <p>Send us a message or feedback</p>
                <input type="text" name="name" placeholder="Your Name" required>
                <input type="email" name="email" placeholder="Your Email" required>
                <textarea name="message" rows="2" placeholder="Your Message" required></textarea>
                <button type="submit" value="Send">Send</button>
            </form>
        </div>
    </div>
    <div class="footer-bottom">
        <p><a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></p>
        <div class="copy-right">
            <p>&copy; 2025 Esma Tech Hub. All rights reserved.</p>
        </div>
    </div>
</footer>
<script src="/js/script.js"></script>