<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Esma Tech Hub</title>
    <link rel="icon" type="image/png" href="/assets/E-logo.png">
</head>
<body>
    <header>
        <div class="mobile-format">
            <div class="logo">
                <img src="/assets/E-logo.png" alt="logo" width="50px" height="auto" style="border-radius: 50%;">
                <h1>Esma Tech <span>Hub</span></h1>
            </div>
            <div class="menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <ul class="vertical-nav">
            <li class="close"><i class="fas fa-times"></i></li>
            <li><a href="/">Home</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li class="dropdown">
                <div class="dropdown-toggle">Categories 
                    <i class="fas fa-chevron-down"></i>
                    <i class="fas fa-chevron-up"></i>
                </div>
                <ul class="dropdown-menu">
                    <li><a href="#">Technology</a></li>
                    <li><a href="#">Programming</a></li>
                    <li><a href="#">AI & ML</a></li>
                    <li><a href="#">Web Development</a></li>
                </ul>
            </li>
            <li><a href="/about">About Us</a></li>
            <li><a href="">Contact Us</a></li>
            <div class="search">
                <form action="" method="post">
                    <div class="search">
                        <input type="search" name="search" placeholder="Search blogs">
                        <button type="submit" name="submit">
                            <i class="fas fa-search"></i> 
                        </button>
                    </div>
                </form>
            </div>
        </ul>
        <div class="header">
            <div class="logo">
                <img src="/assets/E-logo.png" alt="logo" width="50px" height="auto" style="border-radius: 50%;">
                <h1>Esma Tech <span>Hub</span></h1>
            </div>
            <div class="navigation">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/blogs">Blogs</a></li>
                    <li class="dropdown">
                        <a href="#">Categories <i class="fas fa-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Technology</a></li>
                            <li><a href="#">Programming</a></li>
                            <li><a href="#">AI & ML</a></li>
                            <li><a href="#">Web Development</a></li>
                        </ul>
                    </li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="search">
                <input type="search" name="search" placeholder="Search blogs">
                <button type="submit" name="submit">
                    <i class="fas fa-search"></i> 
                </button>
            </div>
        </div>
    </header>