<%- include('partials/header') %>
    <section class="hero" style="background-image: url('<%= backgroundImage %>'); background-size: cover; background-position: center; background-repeat: no-repeat;">
        <div class="hero-content">
            <div class="content">
                <p class="featured">Featured</p>
                <h1>Empowering Innovators, Inspiring the Future</h1>
                <h1>Discover the Future of Technology with Esma Tech Hub</h1>
                <p >At Esma Tech Hub, we bring you the latest trends, breakthroughs, and insights in the tech world. From cutting-edge AI innovations to cybersecurity advancements and emerging web technologies, we cover everything that’s shaping the digital future. Whether you're a developer, entrepreneur, or tech enthusiast, we keeps you informed, inspired, and ahead of the curve.</p>
            </div>
        <div class="right-arrow">
            <a href="/featured_post">&rarr;</a>
        </div>
    </section>
    <section class="blogs-container">
        <div class="section-title">
            <h1>Recent blog posts</h1>
        </div>
        <div class="blogs">
            <a href="#">
                <img src="/assets/alesia-kazantceva-XLm6-fPwK5Q-unsplash.jpg" alt="Technology">
            <h1>Machine Learning and Artificial Intelligence</h1>
            <p>Machine learning is the most exciting branch of artificial intelligence...</p>
            <div class="card-footer">
                <p class="category">Technology</p>
                <div class="date">
                    <i class="fas fa-calendar-alt"></i>
                    <p>October 10, 2025</p>
                </div>
            </div>
            </a>
        </div>
        <div class="blogs">
            <a href="#">
                <img src="/assets/alesia-kazantceva-XLm6-fPwK5Q-unsplash.jpg" alt="Technology">
            <h1>Machine Learning and Artificial Intelligence</h1>
            <p>Machine learning is the most exciting branch of artificial intelligence...</p>
            <div class="card-footer">
                <p class="category">Technology</p>
                <div class="date">
                    <i class="fas fa-calendar-alt"></i>
                    <p>October 10, 2025</p>
                </div>
            </div>
            </a>
        </div>
        <div class="blogs">
            <a href="#">
                <img src="/assets/alesia-kazantceva-XLm6-fPwK5Q-unsplash.jpg" alt="Technology">
            <h1>Machine Learning and Artificial Intelligence</h1>
            <p>Machine learning is the most exciting branch of artificial intelligence...</p>
            <div class="card-footer">
                <p class="category">Technology</p>
                <div class="date">
                    <i class="fas fa-calendar-alt"></i>
                    <p>October 10, 2025</p>
                </div>
            </div>
            </a>
        </div>
        <div class="blogs">
            <a href="#">
                <img src="/assets/steve-johnson-ZPOoDQc8yMw-unsplash.jpg" alt="Artificial Intelligence">
            <h1>Artificial Intelligence: The Brain Behind Tomorrow’s Innovations</h1>
            <p>AI is actively driving major technological advancements across industries. From self-driving cars to intelligent chatbots, ...</p>
            <div class="card-footer">
                <p class="category">Technology</p>
                <div class="date">
                    <i class="fas fa-calendar-alt"></i>
                    <p>October 10, 2025</p>
                </div>
            </div>
            </a>
        </div>
        <div class="blogs">
            <a href="#">
                <img src="/assets/image_fx_ (1).jpg" alt="Web 3">
            <h1>Web 3.0: The Decentralized Internet Revolution</h1>
            <p>From decentralized social media to NFT-powered economies, Web 3.0 is shaping a fairer...</p>
            <div class="card-footer">
                <p class="category">Technology</p>
                <div class="date">
                    <i class="fas fa-calendar-alt"></i>
                    <p>October 10, 2025</p>
                </div>
            </div>
            </a>
        </div>
        <div class="blogs">
            <a href="#">
                <img src="/assets/steve-johnson-ZPOoDQc8yMw-unsplash.jpg" alt="Artificial Intelligence">
            <h1>Artificial Intelligence: The Brain Behind Tomorrow’s Innovations</h1>
            <p>AI is actively driving major technological advancements across industries. From self-driving cars to intelligent chatbots, ...</p>
            <div class="card-footer">
                <p class="category">Technology</p>
                <div class="date">
                    <i class="fas fa-calendar-alt"></i>
                    <p>October 10, 2025</p>
                </div>
            </div>
            </a>
        </div>
        <div class="pagination">
            <ul>
                <li><a href="#"><i class="fas fa-angle-left"></i></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#"><i class="fas fa-angle-right"></i></a></li>
            </ul>
        </div>
    </section>
    <%- include('partials/footer') %>
</body>
</html>